Local.testsettings
NCabinet.5.1.ReSharper.user
NCabinet.suo
NCabinet/bin/
NCabinet/obj/
NCabinet.HttpRuntimeCacheProvider/bin/
NCabinet.HttpRuntimeCacheProvider/obj/
NCabinet.Tests/bin/
NCabinet.Tests/obj/
NCabinet.Monitor/bin/
NCabinet.Monitor/obj/
_ReSharper.NCabinet/

